h1 {
color: rgb(255, 255, 255);
text-align: center;
font-size: 30px;
}
h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}
p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}
body{
    background-color:darkblue;
}
header{
    background-image: url(cambios-navegar-internet.jpg);
}
.impar{
    margin-left: 20%;
    text-align: left;
    color: rgb(235, 111, 29);
    font-weight: bold;
    font-size: 20px;
}
.par{
    margin-right: 20%;
    text-align: right;
    color: rgb(5, 243, 231);
    font-weight: bold;
    font-size: 20px;   
}